In [7]:
# 生成一个Series
import pandas as pd

ser_obj = pd.Series(range(10, 20))
print(ser_obj)
print('-'*50)
# 获取数据
print(ser_obj.values)
print(type(ser_obj.values))
# 获取索引
print(ser_obj.index)
ser_obj.dtype

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
--------------------------------------------------
[10 11 12 13 14 15 16 17 18 19]
<class 'numpy.ndarray'>
RangeIndex(start=0, stop=10, step=1)

dtype('int64')

In [8]:
print(ser_obj[0])
ser_obj[9]
# 访问不存在的索引下标会报keyerror

10

19

In [9]:
print(ser_obj * 2)
print(ser_obj > 15)

0    20
1    22
2    24
3    26
4    28
5    30
6    32
7    34
8    36
9    38
dtype: int64
0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool

In [10]:
#字典变为series
year_data = {2001: 17.8, 2005: 20.1, 2003: 16.5}
ser_obj2 = pd.Series(year_data)
print(ser_obj2)
print(ser_obj2.index)
print(ser_obj2[2001])
ser_obj2.values

2001    17.8
2005    20.1
2003    16.5
dtype: float64
Int64Index([2001, 2005, 2003], dtype='int64')
17.8

array([17.8, 20.1, 16.5])

In [11]:
print(ser_obj2.name)
ser_obj2.name = 'temp'
print(ser_obj2.index.name)  #索引名字
ser_obj2.index.name = 'year1'
print('-'*50)
print(ser_obj2.head())

None
None
--------------------------------------------------
year1
2001    17.8
2005    20.1
2003    16.5
Name: temp, dtype: float64

# DataFrame

In [12]:
# 字典变df
d2 =[{"name" : "xiaohong" ,"age" :32,"tel" :10010},
     { "name": "xiaogang" ,"tel": 10000} ,
     {"name":"xiaowang" ,"age":22}]
df6=pd.DataFrame(d2)
df6

       name   age      tel
0  xiaohong  32.0  10010.0
1  xiaogang   NaN  10000.0
2  xiaowang  22.0      NaN

In [18]:
# df中不同列可以是不同的数据类型
import pandas as pd
import numpy as np
dict_data = {'A': 1,
             'B': pd.Timestamp(2019,9,26),
             'C': pd.Series(1, index=list(range(4)),dtype='float32'),
             'D': np.array([3] * 4,dtype='int32'),
             'E': ["Python","Java","C++","C"],
             'F': 'wangdao' }
df_obj2 = pd.DataFrame(dict_data)
print(df_obj2)
print(df_obj2.index)
# 不可改变
# df_obj2.index[0] = 2
df_obj2.columns

   A          B    C  D       E        F
0  1 2019-09-26  1.0  3  Python  wangdao
1  1 2019-09-26  1.0  3    Java  wangdao
2  1 2019-09-26  1.0  3     C++  wangdao
3  1 2019-09-26  1.0  3       C  wangdao
Int64Index([0, 1, 2, 3], dtype='int64')

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [19]:
# 感受日期
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.218514 -1.050792 -1.877771 -0.447912
2013-01-02  0.278642  0.387738  1.083103 -1.947110
2013-01-03  1.437652  0.063651  1.239706  1.065608
2013-01-04 -0.055838 -0.321865 -0.321628 -1.379661
2013-01-05 -0.122700  2.051028  0.136919  1.701798
2013-01-06 -2.195153 -0.505952 -1.750730 -1.687686

In [20]:
#pd中使用索引名来取某一行，或者列
print(df_obj2['A'])
#把df的某一列取出来是series
print(type(df_obj2['A']))

0    1
1    1
2    1
3    1
Name: A, dtype: int64
<class 'pandas.core.series.Series'>

In [24]:
# 增加列数据，列名是自定义的
df_obj2['G'] = df_obj2['D'] + 4
print(df_obj2.head())
print(type(df_obj2.head()))
df_obj2

   A          B    C  D       E        F  G
0  1 2019-09-26  1.0  3  Python  wangdao  7
1  1 2019-09-26  1.0  3    Java  wangdao  7
2  1 2019-09-26  1.0  3     C++  wangdao  7
3  1 2019-09-26  1.0  3       C  wangdao  7
<class 'pandas.core.frame.DataFrame'>

   A          B    C  D       E        F  G
0  1 2019-09-26  1.0  3  Python  wangdao  7
1  1 2019-09-26  1.0  3    Java  wangdao  7
2  1 2019-09-26  1.0  3     C++  wangdao  7
3  1 2019-09-26  1.0  3       C  wangdao  7

In [25]:
# 删除列
del(df_obj2['G'])
print(df_obj2.head())

   A          B    C  D       E        F
0  1 2019-09-26  1.0  3  Python  wangdao
1  1 2019-09-26  1.0  3    Java  wangdao
2  1 2019-09-26  1.0  3     C++  wangdao
3  1 2019-09-26  1.0  3       C  wangdao

# 4 Pandas的索引操作

In [26]:
print(df_obj2.index)

Int64Index([0, 1, 2, 3], dtype='int64')

3 常见的Index种类
•Index，索引
•Int64Index，整数索引
•MultiIndex，层级索引
•DatetimeIndex，时间戳类型

In [28]:
ser_obj = pd.Series(range(5), index = list("abcde"))
print(ser_obj)
ser_obj.index

a    0
b    1
c    2
d    3
e    4
dtype: int64

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [29]:
# 行索引，不仅可以用索引名，可以用索引顺序或来取
print(ser_obj['b'])
print(ser_obj[2])

1
2

In [30]:
# 切片索引
print(ser_obj[1:3])  # 索引顺序是开区间
print(ser_obj['b':'d'])  # 索引名是闭区间

b    1
c    2
dtype: int64
b    1
c    2
d    3
dtype: int64

In [31]:
# 不连续索引
print(ser_obj[[0, 2, 4]])
print(ser_obj[['a', 'e']])

a    0
c    2
e    4
dtype: int64
a    0
e    4
dtype: int64

In [32]:
# 布尔索引
ser_bool = ser_obj > 2
print(ser_bool)
print(ser_obj[ser_bool])

print(ser_obj[ser_obj > 2])

a    False
b    False
c    False
d     True
e     True
dtype: bool
d    3
e    4
dtype: int64
d    3
e    4
dtype: int64

4 DataFrame索引

In [33]:
import numpy as np
df_obj = pd.DataFrame(np.random.randn(5,4),
                      columns = ['a', 'b', 'c', 'd'])
print(df_obj.head())

          a         b         c         d
0  0.487896 -0.258573 -0.206642  0.338940
1 -0.231438  0.993442 -0.561551  0.877426
2  0.999577 -1.676327  0.362964 -0.270430
3  0.315573 -0.249361 -0.337586 -0.165903
4 -0.443999  1.188870 -0.975556  1.103541

In [34]:
# 列索引
print(df_obj['a']) # 返回Series类型
print(df_obj[['a']]) # 返回DataFrame类型
print(type(df_obj[['a']])) # 返回DataFrame类型

0    0.487896
1   -0.231438
2    0.999577
3    0.315573
4   -0.443999
Name: a, dtype: float64
          a
0  0.487896
1 -0.231438
2  0.999577
3  0.315573
4 -0.443999
<class 'pandas.core.frame.DataFrame'>

1. loc 标签索引

In [35]:
# 标签索引 loc，建议使用loc，效率更高
# Series
print(ser_obj)
print(ser_obj['b':'d'])
print(ser_obj.loc['b':'d'])

# DataFrame
print('-'*50)
df_obj = pd.DataFrame(np.random.randn(5,4),
                      columns = list('dcba'),
                      index=list('abcde'))
print(df_obj)
print('-'*50)
print(df_obj['a'])  #建议不用
print('-'*50)
print(df_obj.loc['a'])  #拿的是行
print('-'*50)
# 第一个参数索引行，第二个参数是列,loc或者iloc效率高于直接用取下标的方式，前闭后闭
print(df_obj.loc['a':'c', 'd':'b'])
print(df_obj.loc[['a','c'], 'd':'b'])

a    0
b    1
c    2
d    3
e    4
dtype: int64
b    1
c    2
d    3
dtype: int64
b    1
c    2
d    3
dtype: int64
--------------------------------------------------
          d         c         b         a
a  0.723262 -1.439789  1.805281 -0.745293
b -0.600333  0.807885  1.237059  0.343546
c  0.978002 -1.109984  1.079742 -0.631348
d  1.146932 -2.208242 -0.235945 -1.115689
e  0.084122 -0.266802  0.282662 -0.697255
--------------------------------------------------
a   -0.745293
b    0.343546
c   -0.631348
d   -1.115689
e   -0.697255
Name: a, dtype: float64
--------------------------------------------------
d    0.723262
c   -1.439789
b    1.805281
a   -0.745293
Name: a, dtype: float64
--------------------------------------------------
          d         c         b
a  0.723262 -1.439789  1.805281
b -0.600333  0.807885  1.237059
c  0.978002 -1.109984  1.079742
          d         c         b
a  0.723262 -1.439789  1.805281
c  0.978002 -1.109984  1.079742