# 星际争霸-层级索引学习

In [1]:
import pandas as pd

dataset_path = './starcraft.csv'
df_data = pd.read_csv(dataset_path, usecols=['LeagueIndex', 'Age', 'HoursPerWeek',
                                             'TotalHours', 'APM'])
df_data

      LeagueIndex   Age  HoursPerWeek  TotalHours       APM
0               5  27.0          10.0      3000.0  143.7180
1               5  23.0          10.0      5000.0  129.2322
2               4  30.0          10.0       200.0   69.9612
3               3  19.0          20.0       400.0  107.6016
4               3  32.0          10.0       500.0  122.8908
...           ...   ...           ...         ...       ...
3390            8   NaN           NaN         NaN  259.6296
3391            8   NaN           NaN         NaN  314.6700
3392            8   NaN           NaN         NaN  299.4282
3393            8   NaN           NaN         NaN  375.8664
3394            8   NaN           NaN         NaN  348.3576

[3395 rows x 5 columns]

In [2]:
def top_n(df, n=3, column='APM'):
    """
        返回每个分组按 column 的 top n 数据
    """
    return df.sort_values(by=column, ascending=False)[:n]

print(df_data.groupby('LeagueIndex').apply(top_n))

                  LeagueIndex   Age  HoursPerWeek  TotalHours       APM
LeagueIndex
1           2214            1  20.0          12.0       730.0  172.9530
            2246            1  27.0           8.0       250.0  141.6282
            1753            1  20.0          28.0       100.0  139.6362
2           3062            2  20.0           6.0       100.0  179.6250
            3229            2  16.0          24.0       110.0  156.7380
            1520            2  29.0           6.0       250.0  151.6470
3           1557            3  22.0           6.0       200.0  226.6554
            484             3  19.0          42.0       450.0  220.0692
            2883            3  16.0           8.0       800.0  208.9500
4           2688            4  26.0          24.0       990.0  249.0210
            1759            4  16.0           6.0        75.0  229.9122
            2637            4  23.0          24.0       650.0  227.2272
5           3277            5  18.0          16.0       950.0  372.6426
            93              5  17.0          36.0       720.0  335.4990
            202             5  37.0          14.0       800.0  327.7218
6           734             6  16.0          28.0       730.0  389.8314
            2746            6  16.0          28.0      4000.0  350.4114
            1810            6  21.0          14.0       730.0  323.2506
7           3127            7  23.0          42.0      2000.0  298.7952
            104             7  21.0          24.0      1000.0  286.4538
            1654            7  18.0          98.0       700.0  236.0316
8           3393            8   NaN           NaN         NaN  375.8664
            3373            8   NaN           NaN         NaN  364.8504
            3372            8   NaN           NaN         NaN  355.3518

In [4]:
# apply函数接收的参数会传入自定义的函数中
m = df_data.groupby('LeagueIndex').apply(top_n, n=2, column='Age')
m.index

MultiIndex([(1, 3146),
            (1, 3040),
            (2,  920),
            (2, 2437),
            (3, 1258),
            (3, 2972),
            (4, 1696),
            (4, 1729),
            (5,  202),
            (5, 2745),
            (6, 3069),
            (6, 2706),
            (7, 2813),
            (7, 1992),
            (8, 3340),
            (8, 3341)],
           names=['LeagueIndex', None])

In [10]:
# group_keys为False后，被groupby的列不会变为索引
n=df_data.groupby('LeagueIndex', group_keys=False).apply(top_n)
# n
n.index

Int64Index([2214, 2246, 1753, 3062, 3229, 1520, 1557,  484, 2883, 2688, 1759,
            2637, 3277,   93,  202,  734, 2746, 1810, 3127,  104, 1654, 3393,
            3373, 3372],
           dtype='int64')

# 10 数据清洗

In [ ]:
import pandas as pd
import numpy as np

df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})

print(df_obj1)
print('-'*50)
print(df_obj2)